.addLeadContainer {
    max-width: 600px;
    margin: 2rem auto;
    padding: 2rem;
    background: white;
    border-radius: 10px;
}

.addLeadContainer h2 {
    text-align: center;
    margin-bottom: 2rem;
    font-weight: 600;
}

.addLeadForm {
    display: flex;
    flex-direction: column;
}

.addLeadForm label {
    margin-bottom: 1.2rem;
    font-weight: 500;
    display: flex;
    flex-direction: column;
}

.addLeadForm input,
.addLeadForm select {
    padding: 0.6rem 0.8rem;
    border: 1px solid lightgrey;
    border-radius: 6px;
    margin-top: 0.4rem;
    font-size: 1rem;
}

.createLeadBtn {
    padding: 0.75rem;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
}

.createLeadBtn:hover {
    background-color: darkorange
}

.checkboxGroup {
    display: flex;
    gap: 15px;
    margin: 0.8rem;
}

.checkboxItem {
    display: flex;
    align-items: center;
    gap: 8px
}