.settings-container {
    padding: 1rem;
}

.tabs {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.tab {
    padding: 0.5rem 1rem;
    cursor: pointer;
    background-color: rgb(234, 228, 228);
    border: none;
    border-radius: 4px;
    font-weight: bold;
}

.tab:hover {
    background-color: lightgray;
}

.tab.active {
    background-color: var(--primary-color);
    color: white;
}

.tab-content {
    border-top: 1px solid lightgray;
    padding-top: 1rem;
    font-size: 1.1rem;
}