header {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    text-align: center;
}

header h2 {
    margin: 0;
    padding: 1rem;
}

.mainContent {
    display: flex;
    min-height: 90vh;
}

.sidebar {
    width: 300px;
    background-color: var(--primary-color);
}

.sidebar a {
    text-decoration: none;
    color: white;
}

.card {
    background-color: white;
    padding: 15px;
    border-radius: 6px;
    margin-bottom: 15px;
}

.backBtn {
    display: inline-block;
    background-color: var(--primary-color);
    color: white;
    text-decoration: none;
    cursor: pointer;
    padding: 0.5rem 0;
    padding-inline-start: 24px;
    margin: 1rem;
}